@using CMS.MediaLibrary
@using DancingGoat.Models.InlineEditors
@using DancingGoat.Models.Widgets
@model HeroImageWidgetViewModel

@{
    string styleAttribute = null;
    if (Model.Image != null)
    {
        styleAttribute = $"style=\"background-image: url('{Url.Content(MediaLibraryHelper.GetDirectUrl(Model.Image))}');\"";
    }
}

@if (Context.Kentico().PageBuilder().EditMode)
{
    Html.RenderPartial("InlineEditors/_ImageUploaderEditor", new ImageUploaderEditorViewModel
    {
        ImageType = ImageTypeEnum.MediaFile,
        PropertyName = nameof(HeroImageWidgetProperties.Image),
        HasImage = Model.Image != null,
        MessagePosition = PanelPositionEnum.Top,
        UseAbsolutePosition = true
    });
}

<section class="hero-image-section @Model.Theme" @Html.Raw(styleAttribute)>
    <div class="content">
        <div class="text">
            @if (Context.Kentico().PageBuilder().EditMode)
            {
                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                {
                    PropertyName = nameof(HeroImageWidgetProperties.Text),
                    Text = Model.Text,
                    EnableFormatting = false
                });
            }
            else
            {
                @Html.Raw(Model.Text)
            }
        </div>
        @if (Context.Kentico().PageBuilder().EditMode)
        {
            <div class="btn">
                @{
                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                    {
                        PropertyName = nameof(HeroImageWidgetProperties.ButtonText),
                        Text = Model.ButtonText,
                        EnableFormatting = false
                    });
                }
            </div>
        }
        else
        {
            <a href="@Model.ButtonTarget" class="btn">
                @Html.Raw(Model.ButtonText)
            </a>
        }
    </div>
</section>