<!DOCTYPE html>

<html>
<head id="head">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>@ViewBag.Title - Dancing Goat</title>
    <link rel="icon" href="@Url.Content("~/content/images/favicon.png")" type="image/png" />
    <link href="@Url.Content("~/Content/Styles/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="canonical" href="@Url.CanonicalUrl()" />
    @RenderSection("styles", required: false)
    @Html.Kentico().ABTestLoggerScript()
</head>
<body>
    <div class="page-wrap">
        @Html.Action("Index", "Consent")
        <header class="header">
            <div class="menu">
                <div class="container">
                    <nav role="navigation">
                        <ul>
                            <li>
                                @Html.ActionLink(ResHelper.GetString("DancingGoatMvc.Home"), "Index", "Home")
                            </li>
                            <li>
                                @Html.ActionLink(ResHelper.GetString("DancingGoatMvc.Store"), "Index", "Coffees")
                            </li>
                            <li>
                                @Html.ActionLink(ResHelper.GetString("DancingGoatMvc.Articles"), "Index", "Articles")
                            </li>
                            <li>
                                @Html.ActionLink(ResHelper.GetString("DancingGoatMvc.AboutUs"), "Index", "About")
                            </li>
                            <li>
                                @Html.ActionLink(ResHelper.GetString("DancingGoatMvc.Cafes"), "Index", "Cafes")
                            </li>
                            <li>
                                @Html.ActionLink(ResHelper.GetString("DancingGoatMvc.Contact"), "Index", "Contacts")
                            </li>
                        </ul>
                    </nav>
                    <div class="menu-separator"></div>
                    <div class="additional-menu-buttons user-menu">
                        <div class="dropdown-header menu-hover">
                            <div class="dropdown-icon-tablet">
                                <i aria-hidden="true" id="user-menu-icon" class="icon-user"></i>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="dropdown-desktop">
                                    @ResHelper.GetStringFormat("DancingGoatMvc.Hello", User.Identity.Name)
                                    <i aria-hidden="true" class="icon-chevron-down dropdown-arrow"></i>
                                </div>
                            }
                            <span id="user-dropdown-caption-opened" class="sr-only">@ResHelper.GetString("DancingGoatMvc.CloseMenu")</span>
                            <span id="user-dropdown-caption-closed" class="sr-only">@ResHelper.GetString("DancingGoatMvc.OpenMenu")</span>
                        </div>
                        <nav role="navigation">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <ul class="dropdown-items-list">
                                    <li>
                                        @Html.ActionLink(@ResHelper.GetString("DancingGoatMvc.YourAccount"), "YourAccount", "Account")
                                    </li>
                                    <li>
                                        @using (Html.BeginForm("Logout", "Account"))
                                        {
                                            @Html.Kentico().AntiForgeryToken()
                                            <input type="submit" value="@ResHelper.GetString("DancingGoatMvc.SignOut")" class="sign-out-button" />
                                        }
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="dropdown-items-list dropdown-desktop-visible">
                                    <li>
                                        @Html.ActionLink(ResHelper.GetString("DancingGoatMvc.Register"), "Register", "Account")
                                    </li>
                                    <li>
                                        @Html.ActionLink(ResHelper.GetString("DancingGoatMvc.SignIn"), "Login", "Account")
                                    </li>
                                </ul>
                            }
                        </nav>
                    </div>
                    <div class="menu-separator"></div>
                    <div class="additional-menu-buttons languages">
                        <div class="dropdown-header menu-hover dropdown-header-mobile">
                            <div class="dropdown-icon-tablet">
                                <i aria-hidden="true" id="language-selection-icon" class="icon-earth"></i>
                            </div>
                            <div class="dropdown-desktop dropdown-mobile">
                                @ResHelper.GetString("DancingGoatMvc.Culture." + System.Threading.Thread.CurrentThread.CurrentCulture.Name)
                                <i aria-hidden="true" id="language-select-btn" class="icon-chevron-down dropdown-arrow">  </i>
                            </div>
                            <span id="language-select-caption-opened" class="sr-only">@ResHelper.GetString("DancingGoatMvc.CloseSelector")</span>
                            <span id="language-select-caption-closed" class="sr-only">@ResHelper.GetString("DancingGoatMvc.OpenSelector")</span>
                        </div>
                        <nav role="navigation">
                            <ul class="dropdown-items-list dropdown-items-list-mobile">
                                <li>
                                    @Html.CultureLink(ResHelper.GetString("DancingGoatMvc.Culture.en-us"), "en-US")
                                </li>
                                <li>
                                    @Html.CultureLink(ResHelper.GetString("DancingGoatMvc.Culture.es-es"), "es-ES")
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="header-row">
                <div class="container">
                    <div class="col-xs-2 md-hidden lg-hidden">
                        <button type="button" id="mobile-menu-btn">
                            <i aria-hidden="true" id="mobile-menu-icon" class="icon-menu"></i>
                            <span id="mobile-menu-caption" class="sr-only">@ResHelper.GetString("DancingGoatMvc.OpenMenu")</span>
                        </button>
                    </div>
                    <div class="col-xs-8 col-md-12 col-lg-4 logo">
                        <h1 class="logo">
                            @Html.ActionLink("Dancing Goat", "Index", new { controller = "Home" }, new { @class = "logo-link" })
                        </h1>
                       
                    </div>
                    <div class="col-xs-2 md-hidden lg-hidden cart-preview-mini">
                        <a href="@Url.Action("ShoppingCart", "Checkout")" class="shopping-cart">
                            <i aria-hidden="true" class="icon-shopping-cart"></i>
                            <span class="sr-only">@ResHelper.GetString("DancingGoatMvc.ShoppingCart")</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-7 col-lg-4">
                        @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @Id = "searchForm", @Class = "searchBox" }))
                        {
                            <input type="text" id="searchtext" name="searchtext" placeholder="@ResHelper.GetString("General.Search")" maxlength="1000" class="search-box-watermark" autocomplete="off">
                            <input type="submit" value="" class="search-box-btn">
                        }
                    </div>
                    <div class="col-md-5 col-lg-4 xs-hidden sm-hidden">
                        <div class="shopping-cart-mini-preview">
                            <a href="@Url.Action("ShoppingCart", "Checkout")">
                                <div class="shopping-cart-mini-preview-label">
                                    @ResHelper.GetString("DancingGoatMvc.YourCart")
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <div class="footer-wrapper">
        <footer>
            <div class="footer-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 footer-col">
                            <h3 class="contact-title">@ResHelper.GetString("DancingGoatMvc.Contact.Title")</h3>
                            <p>
                                @Html.Action("CompanyAddress", "Contacts")
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-4 footer-col">
                            <h3>@ResHelper.GetString("DancingGoatMvc.FollowUs.Title")</h3>
                            @Html.Action("CompanySocialLinks", "Contacts")
                        </div>
                        <div class="col-md-4 col-lg-4 footer-col">
                            <h3>@ResHelper.GetString("DancingGoatMvc.News.Title")</h3>
                            @{ Html.RenderAction("Show", "Subscription"); }
                        </div>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                Copyright &copy; @DateTime.Now.Year Dancing Goat. All rights reserved.
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-unobtrusive-ajax")
    @Scripts.Render("~/bundles/jquery-validation")
    @Scripts.Render("~/Scripts/responsiveMenuDropdown.js")
    @Scripts.Render("~/Scripts/mobileMenu.js")

    @RenderSection("scripts", required: false)    
    @Html.Kentico().ActivityLoggingScript()

</body>
</html>
